version: '3.8'

services:
  k8s-node:
    build: .
    hostname: k8s-node
    container_name: k8s-node
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - ./scripts:/scripts
    tmpfs:
      - /run
      - /run/lock
    network_mode: bridge
    ports:
      - "6443:6443"
    environment:
      - container=docker
    stop_signal: SIGRTMIN+3
    cgroup: host
    tty: true
